.clear{
    background-image: url(https://images.unsplash.com/photo-1517495306984-f84210f9daa8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}
.clouds{
    background-image: url(https://images.unsplash.com/photo-1503198515498-d0bd9ed16902?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
}
.rain{
    background-image: url(https://images.unsplash.com/photo-1501691223387-dd0500403074?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80);
}
.snow{
    background-image: url(https://images.unsplash.com/photo-1478265409131-1f65c88f965c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}
.mist{
    background-image: url(https://images.unsplash.com/photo-1605185380316-0c09aaf7171d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-shadow: 4px 3px 2px rgba(0,0,0,0.79);
    text-align: center;
    background-position: center;
    background-size: cover;
}
i.wi{
    font-size: 5em;
    line-height: 3em;

}
h1{
    font-size: 3em;
    position: relative;

}

h2{
    font-size: 2em;

}
.tooltip{
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 10px;
    color#fff;
    background-color: rgba(0,0,0,0.59);
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    transition: top .5s;
    text-shadow: none;

}
h1:hover .tooltip{
top: -60px;
opacity: 1;
}